/* ------------------------------------------------------------- */

	* {
		font-family:Helvetica,​Arial,​sans-serif;
		font-size:15px;
		line-height:15px;
		color:#333333;
	}

	html, body {
		margin:0px;
		padding:0px;
		height:100%;
	}

	#idContainer {
		width:320px;
		margin:0 auto;
		background-image:url(/_images/pinstripes.png);
		background-repeat:repeat;
		position:relative;
		min-height:100%;
	}

	#idPhoneFrame {
		display:none;
		position:absolute;
		left:-34px;
		top:-120px;
		z-index:-1;
	}

	h1, h2 {
		font-size:20px;
		line-height:20px;
		color:white;
		text-align:center;
		padding-top:10px;
		padding-bottom:10px;
		margin-top:0px;
		margin-bottom:0px;
		z-index:99;
	}

	h1 {
		background-color: black;
		border-bottom:1px solid white;
	    position: fixed;
	    top: 0;
	    width:320px;
	}

	h2 {
		background-color: #819BBC;
		border-top:1px solid white;
	    position: fixed;
	    bottom: 0;
	    width:320px;
	}

	div.cssToolbarSpacer {
		height:50px;
	}

	table {
		padding:0px;
		margin:0 auto;
		width: 95%;
	}

	tr.cssRowSpacer td {
		line-height:25px;
		height:25px;
		overflow:hidden;
	}

	td {
		padding:1px;
		margin:0px;
		border:0px;
		border-collapse:collapse;
		text-align: center;
	}

	td span, td img {
		display:inline-block;
	}

	td img.cssButton {
		cursor:pointer;
		height:30px;
		width:30px;
	}

	td.cssColSpacer {
		width:10px;
	}

	td.cssCol1 {
		text-align:left;
		line-height:22px;
	}

	td.cssCol4 {
		width:10px;
		font-size:20px;
	}

	td.cssCol7 {
		text-align:right;
	}

	td.cssCol1, td.cssCol7 {
		font-weight:bold;
	}

	td.cssCol2, td.cssCol3, td.cssCol5, td.cssCol6 {
		width:20px;
		text-align: center;
	}

	@media screen and (min-width: 500px) {

		body {
			height:761px;
			overflow:hidden;
		}

		#idPhoneFrame {
			display:block;
		}

		#idContainer {
			min-height:0px;
			height:480px;
			margin-top:120px;
			margin-bottom:0px;
			overflow:scroll-y;
		}

		#idContents {
			height:480px;
			overflow: scroll;
		}

		h1, h2 {
			position:absolute;
		}

	}

/* ------------------------------------------------------------- */